/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

    6. DROPDOWN STYLES
   
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/


/*===========================================================================
    6.1 - DROPDOWN BASE STYLES
===========================================================================*/

/********************************************
    6.1.1 | .dropdown
********************************************/

.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
}

/********************************************
    6.1.2 | .dropdown-panel
********************************************/

.dropdown > .dropdown-panel {
    display: none;
    flex-direction: column;
}
.dropdown.active > .dropdown-panel {
    display: flex;
}

