/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

    10. SEPARATION STYLES
   
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/


/*===========================================================================
    10.1 - SEPARATION BASE STYLES
===========================================================================*/

/********************************************
    10.1.1 | .separation
********************************************/

#airnguru .separation {
    border-width: 1px;
    display: flex;
    flex-direction: row;
}
    
    /*-------------------------
        Light Mode
    -------------------------*/

    #light-mode .separation {
        border-color: #DADADA; /* LIGHT MODE */
    }

    /*-------------------------
        Dark Mode
    -------------------------*/

    #dark-mode .separation {
        border-color: #929096; /* DARK MODE */
    }


/*===========================================================================
    10.2 - SEPARATION VARIANTS
===========================================================================*/

/********************************************
    10.2.1 | .solid
********************************************/

.separation.horizontal.solid {
    border-top: solid;
}
.separation.vertical.solid {
    border-left: solid;
}

/********************************************
    10.2.2 | .dashed
********************************************/

.separation.horizontal.dashed {
    border-top: dashed;
}
.separation.vertical.dashed {
    border-left: dashed;
}


/*===========================================================================
    10.3 - SEPARATION DIRECTION STYLES
===========================================================================*/

/********************************************
    10.3.1 | .horizontal
********************************************/

.separation.horizontal {
    width: 100%;
}

/********************************************
    10.3.2 | .vertical
********************************************/

.separation.vertical {
    height: 10px;
    width: 1px;
}

