/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

    11. HEADLINES STYLES
   
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/


/*===========================================================================
    11.1 - HEADLINES VARIANTS
===========================================================================*/

/********************************************
    11.1.1 | .headline-group
********************************************/

.headline-group {
   align-items: center;
   display: flex;
   flex-direction: row;
}
.headline-group > .separation {
   margin: 0 12px;
}

