/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

    12. DISCLAIMER STYLES
   
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/


/*===========================================================================
    12.1 - DISCLAIMER BASE STYLES
===========================================================================*/

/********************************************
    12.1.1 | .disclaimer-message
********************************************/

.disclaimer-message {
    background-color: transparent;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    padding: 12px 14px;
    position: relative;
}

    /*-------------------------
        Light Mode
    -------------------------*/

    #light-mode .disclaimer-message {
        border-color: #D9E1E7; /* LIGHT MODE */
    }

    /*-------------------------
        Dark Mode
    -------------------------*/

    #dark-mode .disclaimer-message {
        border-color: #3B393E; /* DARK MODE */
    }

/********************************************
    12.1.2 | .disclaimer-message > h5
********************************************/

.disclaimer-message > h5 {
    font-size: 0.92rem; /* FONT SIZE */
    left: 10px;
    padding: 0 4px;
    position: absolute;
    top: -8px;
}

    /*-------------------------
        Light Mode
    -------------------------*/

    #light-mode .disclaimer-message > h5 {
        background-color: #FFFFFF; /* LIGHT MODE */
    }

    /*-------------------------
        Dark Mode
    -------------------------*/

    #dark-mode .disclaimer-message > h5 {
        background-color: #504E53; /* DARK MODE */
    }

/********************************************
    12.1.3 | .disclaimer-message > p
********************************************/

.disclaimer-message > p {
    font-size: 1rem; /* FONT SIZE */
}

