/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

    18. OVERLAY STYLES
   
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/


/*===========================================================================
    18.1 - OVERLAY BASE STYLES
===========================================================================*/

/********************************************
    18.1.1 | #overlay
********************************************/

#overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 0 14px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
    
    /*-------------------------
        Light Mode
    -------------------------*/

    #light-mode #overlay {
        background-color: #FFFFFF; /* LIGHT MODE */
    }

    /*-------------------------
        Dark Mode
    -------------------------*/

    #dark-mode #overlay {
        background-color: #504E53; /* DARK MODE */
    }

/********************************************
    18.1.2 | .overlay-body
********************************************/

.overlay-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#overlay .display-table {
    flex-grow: 1;
}

