/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

    21. LOCKED SCREEN STYLES
   
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/


/*===========================================================================
    21.1 - LOCKED SCREEN BASE STYLES
===========================================================================*/

/********************************************
    21.1.1 | .lock-screen
********************************************/

.lock-screen {
   align-items: center;
   display: flex;
   flex-direction: column;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 600000;
   min-height: 100%;
   overflow: auto;
}

    /*-------------------------
        Light Mode
    -------------------------*/

    #light-mode .lock-screen {
      background-color: rgba(229, 229, 229, 0.3); /* LIGHT MODE */
    }

    /*-------------------------
        Dark Mode
    -------------------------*/

    #dark-mode .lock-screen {
      background-color: rgba(26, 26, 26, 0.3); /* DARK MODE */
    }

