/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=

    23. LOG IN STYLES
   
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/


/*===========================================================================
    23.1 - LOG IN BASE STYLES
===========================================================================*/

/********************************************
    23.1.1 | .log-in
********************************************/

#light-mode.log-in {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    /*-------------------------
        Responsive Behavior
    -------------------------*/

    @media (max-width: 992px) {

        #light-mode.log-in {
            grid-template-columns: 0 1fr;
        }

    }

/********************************************
    23.1.2 | #left-panel
********************************************/

#light-mode.log-in #left-panel {
    background-image: url(../img/log-in-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
}

    /*-------------------------
        Responsive Behavior
    -------------------------*/

    @media (max-width: 992px) {
        
        #light-mode.log-in #left-panel {
            display: none;
        }
        
    }

#light-mode.log-in #left-panel .panel-content {
    align-items: center;
    background: rgba(33, 147, 176, 0.8);
    background: -moz-linear-gradient(0deg, rgba(33, 147, 176, 0.8) 0%, rgba(10, 12, 18, 0.8) 100%);
    background: -webkit-linear-gradient(0deg, rgba(33, 147, 176, 0.8) 0%, rgba(10, 12, 18, 0.8) 100%);
    background: linear-gradient(0deg, rgba(33, 147, 176, 0.8) 0%, rgba(10, 12, 18, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2193b0",endColorstr="#0a0c12",GradientType=1);
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
}
#light-mode.log-in #left-panel .panel-content .panel-body {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 80px;
}
#light-mode.log-in #left-panel .panel-content .panel-body #iso-container {
    margin-left: 30px;
    margin-right: 15px;
    z-index: 55;
}
#light-mode.log-in #left-panel .panel-content .panel-body #text-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    z-index: 55;
}
#light-mode.log-in #left-panel .panel-content .panel-body #text-container > div:first-child {
    color: #FFFFFF;
    font-family: 'roboto-bold';
    font-size: 2rem;
    margin: 0;
    padding-right: 30px;
    text-transform: uppercase;
}
#light-mode.log-in #left-panel .panel-content .panel-body #text-container > div:last-child {
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'roboto-regular';
}
#light-mode.log-in #left-panel .panel-content .panel-footer {
    bottom: 30px;
    left: 30px;
    position: absolute;
}
#light-mode.log-in #left-panel .panel-content .panel-footer #version {
    background-color: rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    font-family: 'roboto-light';
    font-size: 0.85rem;
    padding: 2px 5px;
}

/********************************************
    23.1.3 | #right-panel
********************************************/

#light-mode.log-in #right-panel {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    position: relative;
}
#light-mode.log-in #right-panel::before {
    border-bottom: 40px solid transparent;
    border-right: 30px solid #FFFFFF;
    content: "";
    height: calc(50% - 40px);
    left: -30px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 100;
}
#light-mode.log-in #right-panel::after {
    border-right: 30px solid #FFFFFF;
    border-top: 40px solid transparent;
    bottom: 0;
    content: "";
    height: calc(50% - 40px);
    left: -30px;
    position: absolute;
    width: 0;
    z-index: 100;
}
#light-mode.log-in #right-panel .panel-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -15px;
    max-width: 500px;
    padding: 60px 30px 60px 30px;
    width: 100%;
    z-index: 155;
}

    /*-------------------------
        Responsive Behavior
    -------------------------*/

    @media (max-width: 992px) {
        
        #light-mode.log-in #right-panel .panel-content {
            margin-left: 0;
        }
        
    }

#light-mode.log-in #right-panel .panel-content .panel-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#light-mode.log-in #right-panel .panel-content .panel-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 30px 0;
}
#light-mode.log-in #right-panel .panel-content .panel-body form {
    justify-content: center;
    width: 100%;
}
#light-mode.log-in #right-panel .panel-content .panel-body form h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'roboto-black';
    margin: 0;
    white-space: nowrap;
}

    /*-------------------------
        Responsive Behavior
    -------------------------*/

    @media (max-width: 992px) {
        
        #light-mode.log-in #right-panel .panel-content .panel-body form h1 {
            font-size: 2rem;
        }
        
    }

#light-mode.log-in #right-panel .panel-content .panel-body form fieldset {
    flex-grow: 0;
}
#light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row {
    margin-bottom: 10px;
}
#light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .form-group > .validation-message {
    color: #FD87A4;
    display: none; 
    font-size: 1rem;
    margin-bottom: 3px;
}
#light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .form-group > .account-message {
    align-items: center;
    background-color: #FD87A4;
    display: none;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 10px;
}
#light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .form-group > .account-message .icon {
    margin-right: 5px;
}
#light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .form-group > .account-message .icon svg {
    fill: #FFFFFF;
}
#light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .form-group > .account-message .text {
    color: #FFFFFF;
    font-size: 1rem;
}
#light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .form-group > .input-group > label {
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #BDC3C7;
    border-left: 1px solid #BDC3C7;
    border-radius: 4px 0 0 4px;
    border-right: unset;
    border-top: 1px solid #BDC3C7;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 0;
    width: 40px;
}
#light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .form-group > .input-group > label > svg {
    fill: #231F20;
}
#light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .form-group > .input-group > input {
    background-color: #FFFFFF;
    height: 50px;
    border-radius: 0 4px 4px 0;
    text-indent: 0;
    border-top: 1px solid #BDC3C7;
    border-left: unset;
    border-right: 1px solid #BDC3C7;
    border-bottom: 1px solid #BDC3C7;
    width: 100%;
}
#light-mode.log-in #right-panel .panel-content .panel-body #log-in-actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#light-mode.log-in #right-panel .panel-content .panel-body #log-in-actions > div:first-child {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
#light-mode.log-in #right-panel .panel-content .panel-body #log-in-actions > div:first-child input[type="checkbox"] {
    margin-right: 5px;
}
#light-mode.log-in #right-panel .panel-content .panel-footer .col {
    align-items: center;
    justify-content: center;
}

/********************************************
    23.1.4 | .log-in-panel
********************************************/

#light-mode.log-in #right-panel.log-in-panel .panel-content .panel-header {
    display: none;
}

    /*-------------------------
        Responsive Behavior
    -------------------------*/

    @media (max-width: 992px) {
        
        #light-mode.log-in #right-panel.log-in-panel .panel-content .panel-header {
            display: flex;
        }
        
    }

/********************************************
    23.1.5 | .password-recovery-panel
********************************************/

#light-mode.log-in #right-panel.password-recovery-panel .panel-content .panel-header > .row:first-child {
    display: none;
    margin-bottom: 20px;
}

    /*-------------------------
        Responsive Behavior
    -------------------------*/

    @media (max-width: 992px) {
        
        #light-mode.log-in #right-panel.password-recovery-panel .panel-content .panel-header > .row:first-child {
            display: flex;
        }
        
    }

#light-mode.log-in #right-panel.password-recovery-panel .panel-content .panel-body form h1 {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    justify-content: space-between;
}
#light-mode.log-in #right-panel.password-recovery-panel .panel-content .panel-body form h1 span.steps {
    align-self: center;
    color: #9EA7B1;
    font-family: 'roboto-medium';
    font-size: 1.3rem;
}
#light-mode.log-in #right-panel.password-recovery-panel .panel-content .panel-body form #code-field {
    border: 1px solid #BDC3C7;
    border-radius: 4px;
    text-indent: 13px;
}
#light-mode.log-in #right-panel.password-recovery-panel .panel-content .panel-body #log-in-actions > div:first-child {
    font-family: 'roboto-italic';
    font-size: 1rem;
}

/********************************************
    23.1.6 | .welcome-panel
********************************************/

#light-mode.log-in #right-panel.welcome-panel .panel-content .panel-header {
    display: none;
}

    /*-------------------------
        Responsive Behavior
    -------------------------*/

    @media (max-width: 992px) {
        
        #light-mode.log-in #right-panel.welcome-panel .panel-content .panel-header {
            display: flex;
        }
        
    }

#light-mode.log-in #right-panel.welcome-panel .panel-content .panel-body .row:not(:last-child) {
    margin-bottom: 10px;
}
#light-mode.log-in #right-panel.welcome-panel .panel-content .panel-body .col {
    align-items: center;
    justify-content: center;
}
#light-mode.log-in #right-panel.welcome-panel .panel-content .panel-body .row:first-child .col {
    font-size: 2.2rem;
}
#light-mode.log-in #right-panel.welcome-panel .panel-content .panel-body > div:nth-child(1) {
    font-family: 'roboto-bold';
    font-size: 3rem;
}
#light-mode.log-in #right-panel.welcome-panel .panel-content .panel-body > div:nth-child(1) span {
    color: #4EBB7A;
    margin-left: 7px;
}
#light-mode.log-in #right-panel.welcome-panel .panel-content .panel-body > div:nth-child(2) .progress-bar {
    background-color: #FFFFFF;
    border: 1px solid #BDC3C7;
    border-radius: 5rem;
    height: 7px;
    width: 130px;
}
#light-mode.log-in #right-panel.welcome-panel .panel-content .panel-body > div:nth-child(2) .progress-bar .progress {
    background-color: #8BF8B7;
    border-radius: 5rem;
    height: 100%;
    width: 54%;
}
#light-mode.log-in #right-panel.welcome-panel .panel-content .panel-body > div:nth-child(3) {
    font-size: 1rem;
}


/*===========================================================================
    23.2 - VALIDATION STYLES
===========================================================================*/

/********************************************
    23.2.1 | .single-validation
********************************************/

#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.account-error > .input-group > label,
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.form-error > .input-group > label {
    border-color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.account-error > .input-group > label svg,
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.form-error > .input-group > label svg {
    fill: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.account-error > .input-group >  input,
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.form-error > .input-group >  input {
    border-color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.account-error > .input-group >  input::-webkit-input-placeholder {
    color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.account-error > .input-group >  input:-moz-placeholder {
    color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.account-error > .input-group >  input::-moz-placeholder {
    color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.account-error > .input-group >  input:-ms-input-placeholder {
    color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.form-error > .input-group >  input::-webkit-input-placeholder {
    color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.form-error > .input-group >  input:-moz-placeholder {
    color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.form-error > .input-group >  input::-moz-placeholder {
    color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.form-error > .input-group >  input:-ms-input-placeholder {
    color: #FD87A4;
}
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.account-error .account-message,
#airnguru #light-mode.log-in #right-panel .panel-content .panel-body form fieldset > .row .single-validation.form-error .validation-message {
    display: flex;
}

